@import url(http://fonts.googleapis.com/css?family=Roboto);

/* BASIC */

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;-webkit-tap-highlight-color:transparent}
body{font-family:'Roboto',sans-serif;font-size:18px;color:#333;background:#f7f7f7;margin:0;padding:0;position:relative}
a,a:hover,a:active,a:visited{color:#999;text-decoration:none}
a:hover{color:#333}
h1{font-size:42px;font-weight:normal;margin-top:0;text-transform:uppercase;border-bottom:1px solid #e9e9e9;padding-bottom:15px;}
h2{font-size:30px;font-weight:normal}
h3{font-size:22px;font-weight:normal;font-style:italic}
ul,ol{padding-left:0;margin-left:0;list-style: disc inside}
hr{background:#e9e9e9;height:1px;border:0;margin:30px 0}
img{max-width:100%}
table{width:100%}
tr{border-bottom:1px solid #e9e9e9}
tr:last-child{border-bottom:0}
tr:nth-child(even){background: #fefae2}
th,td{text-align:left;padding:5px}

/* FORM */

input{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

input[type=text], input[type=email], input[type=password], textarea, input[type=number]{
    background: #f7f7f7;
    border: 1px solid #e9e9e9;
    padding: 5px;
    width: 100%;
}

textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    min-height: 250px;
}

input[type=submit], input[type=button]{
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 15px;
    background: #4986b7;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border: 0;
    cursor: pointer;
}

/* CODE */

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code{
    font-size: 12px;
    font-family: Verdana, "Lucida Grande", Lucida, Tahoma, "Trebuchet MS", Arial, Geneva, Helvetica, sans-serif;
}

/* ALERT */

.msg p{
    padding: 5px;
    font-size: 12px;
    background: #ccffcc;
    color: green;
}

/* STRUCTURE */

#container{
    width: 100%;
    background: #fff;
    overflow: hidden;
}

#header{
    width: 100%;
    position: fixed;
    background: #fff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.30);
    z-index: 999;
}

#header_content{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

#body{
    overflow: hidden;
    max-width: 800px;
    margin: 60px auto;
    padding: 15px;
}

#content{
}

#footer{
    clear: both;
    font-size: 12px;
    text-align: center;
    background: #e9e9e9;
    padding: 60px 15px;
}

#footer_content{
    max-width: 960px;
    margin: 0 auto;
}

#footer_content a{
    color: #333;
}

/* MENU */

#mobile_menu{
    display: none;
    width: 32px;
    height: 32px;
    background: url('menu.png');
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#navigation{
    display: block;
    list-style: none;
    margin: 0;
    width: 65%;
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
}

#navigation li{
    float: left;
}

#navigation a{
    display: block;
    color: #4986b7;
    padding: 15px;
}

#navigation a:hover{
    background: #4986b7;
    color: #fff;
}

#navigation li ul{
    display: none;
    position: absolute;
    list-style: none;
    background: #fff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.30);
}

#navigation li:hover ul{
    display: block;
}

#navigation li ul li{
    clear: both;
    width: 100%;
}

#siteName{
    display: block;
    margin: 0;
    width: 25%;
    float: left;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 12px;
}

/* SITE NAME */

#siteName a{
    color: #4986b7;
}

/* TOP BANNER */

#banner{
    height: 450px;
    background: url('header.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* MOBILE */

@media only screen and (max-width: 960px){
    
    #header{
        position: inherit;
    }
    
    #siteName{
        width: 100%;
    }
    
    #mobile_menu{
        display: block;
    }
    
    #navigation{
        display: none;
        width: 100%;
    }
    
    #navigation li{
        clear: both;
        width: 100%;
    }
    
    #navigation a{
        padding: 15px 0px;
    }
    
    #navigation a:hover{
        background: none;
        color: #4986b7;
    }
    
    #navigation li ul{
        display: block;
        position: inherit;
        box-shadow: inherit;
        padding-left: 30px;
    }
    
    #banner{
        height: 250px;
    }

}

/* PLUGINS */

/* Commun */

.featured{
    display: block;
    margin: 0 auto;
}

/* Galerie */

#content.galerie #list{
    margin-left: 0;
    padding-left: 0;
    list-style: none inside;
    overflow: hidden;
    width: 100%;
}

#content.galerie #list li{
    float: left;
    width: 25%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid #fff;
    position: relative;
}

#content.galerie #list li:hover{
    opacity: 0.75;
}

#content.galerie #list li a{
    display: block;
    width: 100%;
    height: 100%;
}

#content.galerie #list li span{
    display: none;
}

#content.galerie #list li:hover span{
    display: block;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

#content.galerie .categories{
    font-size: 12px;
    margin-left: 0;
    padding-left: 0;
    list-style: none inside;
    overflow: hidden;
}

#content.galerie .categories li{
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}

#content.galerie .categories a{
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    background: #4986b7;
    color: #fff;
    text-transform: uppercase;
}

#content.galerie .categories a:hover{
    color: #fff;
}

@media only screen and (max-width: 960px){

    #content.galerie #list li{
        width: 50%;
        height: 150px;
    }

}

/* Blog */

.blog .items{
    list-style: none inside;
}

.blog .items li.item{
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;
    padding-top: 15px;
}

.blog .items li.item:first-child{
    padding-top: 0;
}

.blog .date{
    font-size: 12px;
    display: block;
}

.blog .items h2{
    display: block;
    overflow: hidden;
}

.blog .content{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;
    padding-top: 15px;
}

.blog .pagination{
    font-size: 12px;
    margin-left: 0;
    padding-left: 0;
    list-style: none inside;
    float: right;
}

.blog .pagination li{
    float: left;
    margin-right: 5px;
}

.blog .pagination a{
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    background: #4986b7;
    color: #fff;
}

.blog .pagination a:hover{
    color: #fff;
}

.blog .comment{
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 1px;
    border: 1px solid #e9e9e9;
}

.blog .comment .infos{
    font-size: 12px;
    clear: both;
    display: block;
    text-align: right;
    padding: 15px;
}

/* Seo */

#seo_social{
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
}

#seo_social a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    font-size: 12px;
    float: left;
    margin-left: 1px;
    background: #4986b7
}

@media only screen and (max-width: 960px){

    #seo_social a{
        display: none;
    }
    
    #seo_social a:nth-child(1), #seo_social a:nth-child(2), #seo_social a:nth-child(3){
        display: block;
    }

}

/* Contact */

.contact .acceptation{
    font-size: 12px;
    padding: 15px;
    border: 1px solid #e9e9e9;
    background: #f7f7f7;
}

.contact .acceptation input{
    margin-right: 5px;
}