body{
font-family: arial;
font-size: 14px;
color: #928c8c;
background: #f3f3f3;
}
a, a:hover,a:active,a:visited{
color: #B22222;
}
a:hover{
color: #8B0000;
}
h1{
font-size: 24px;
font-weight: normal;
}
h2{
font-size: 16px;
}
h3{
font-size: 12px;
}
ul{
padding-left: 0;
margin-left: 0;
list-style-position: inside;
}

#container{
display: block;
width: 940px;
border: 3px solid #e9e9e9;
margin: 50px auto;
padding: 5px;
background: #fff;
}
#header{
background: #77a2a8;
padding: 50px;
margin-bottom: 50px;
}
#sidebar{
margin-bottom: 50px;
float: left;
width: 185px;
padding: 0 15px;
margin-right: 25px;
}
#body{
margin-bottom: 50px;
float: left;
width: 670px;
padding: 0 15px;
}
#footer{
clear: both;
padding: 0 25px;
font-size: 12px;
text-align: center;
}

#navigation{
color: #a26f6f;
}
#navigation li{
list-style: none inside;
border-bottom: 1px solid #e9e9e9;
}
#navigation a{
display: block;
text-decoration: none;
padding: 5px;
}
#navigation a:hover{
background: #f3f3f3;
}

#siteName a{
color: #fff;
text-decoration: none;
font-size: 24px;
}

#msg p{
padding: 5px;
}
#msg.success{
background: #ccffcc;
color: green;
}
#msg.error{
background: #ffcccc;
color: #cc3333;
}

#breadcrumb{
font-size: 12px;
margin: 0;
padding: 5px;
margin-bottom: 25px;
background: #f3f3f3;
border: 1px solid #e9e9e9;
}
#breadcrumb a{
text-decoration: none;
color: #928c8c;
}
