@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* BASIC */

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;-webkit-tap-highlight-color:transparent}
body{font-family:'Indie Flower', cursive;font-size:22px;color:#333;background:#fff;margin:0;padding:0;position:relative}
a,a:hover,a:active,a:visited{color:#993300;text-decoration:none}
a:hover{color:#333}
h1{font-size:52px;font-weight:normal;margin-top:0;text-transform:uppercase}
h2{font-size:32px;font-weight:normal}
h3{font-size:22px;font-weight:normal;font-style:italic}
ul,ol{padding-left:0;margin-left:0;list-style-position:inside}
hr{background:#ccc;height:1px;border:0;margin:30px 0}
img{max-width:100%}
table{width:100%}
tr{border-bottom:1px solid #e9e9e9}
tr:last-child{border-bottom:0}
tr:nth-child(even){background: #fefae2}
th,td{text-align:left;padding:5px}

/* FORM */

input{
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
}

input[type=text], input[type=email], input[type=password], textarea{
    background: #fff;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 8px;
    border: 1px solid #e9e9e9;
    padding: 5px;
    width: 100%;
}

textarea{
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    width: 100%;
    min-height: 250px;
}

input[type=submit], input[type=button]{
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 15px;
    background: #993300;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border: 0;
    cursor: pointer;
}

/* CODE */

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code{
    font-size: 12px;
    font-family: Verdana, "Lucida Grande", Lucida, Tahoma, "Trebuchet MS", Arial, Geneva, Helvetica, sans-serif;
}

/* ALERT */

.msg p{
    padding: 5px;
    font-size: 12px;
    background: #ccffcc;
    color: green;
}

/* STRUCTURE */

#container{
    width: 100%;
    background: #fff;
    overflow: hidden;
}

#header{
}

#header_content{
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
}

#body{
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
}

#content{
}

#footer{
}

#footer_content{
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    color: #999;
    font-size: 12px;
    text-align: center;
}

#footer a{
    color: #999;
}

/* MENU */

#mobile_menu{
    display: none;
    width: 32px;
    height: 32px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NUYyQjRCNzQyMDRDMTFFNzk1QzA4REQ5RTg5MzNFNkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NUYyQjRCNzUyMDRDMTFFNzk1QzA4REQ5RTg5MzNFNkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1RjJCNEI3MjIwNEMxMUU3OTVDMDhERDlFODkzM0U2RSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1RjJCNEI3MzIwNEMxMUU3OTVDMDhERDlFODkzM0U2RSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvunQuYAAABGSURBVHja7NQxCgAgDMXQRrz/lb/O7lLBdOwUaHkkqc4Z1TwGzHMBXH2K/XN4gqcC0AEDlFAJlVAJDVBCJVRCJfw+YAkwADSiGDdEMMgZAAAAAElFTkSuQmCC');
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#navigation{
    margin: 0;
    padding: 0;
    list-style: none inside;
    overflow: hidden;
}

#navigation li{
    float: left;
    margin-right: 30px;
}

#navigation li ul{
    display: none;
    position: absolute;
    list-style: none;
    background: #fff;
    padding: 30px;
    border: 1px solid #e9e9e9;
}

#navigation li:hover ul{
    display: block;
}

#navigation li ul li{
    clear: both;
    width: 100%;
}

#siteName{
    font-size: 22px;
}

/* SITE NAME */

#siteName a{
    color: #333;
}

/* TOP BANNER */

#banner{
    height: 150px;
    background: #993300;
    border-top: 5px solid #cc6666;
    border-bottom: 5px solid #cc6666;
}

/* PLUGINS */

#content.galerie .categories a{
    background: #993300;
}

.news .pagination a{
    background: #993300;
}

/* MOBILE */

@media only screen and (max-width: 1024px){
}

@media only screen and (max-width: 960px){
    
    #mobile_menu{
        display: block;
    }
    
    #navigation{
        display: none;
        width: 100%;
    }
    
    #navigation li{
        clear: both;
        width: 100%;
    }

}